service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AdaptPriceRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currency" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="configurationPrice" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="configurationIsSpecialPrice" type="s:boolean"/>

          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdaptPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currency" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="configurationPrice" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="configurationIsSpecialPrice" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="AdaptPriceSoapIn">
    <wsdl:part name="parameters" element="tns:AdaptPriceRequest"/>
  </wsdl:message>
  <wsdl:message name="AdaptPriceSoapOut">
    <wsdl:part name="parameters" element="tns:AdaptPriceResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="AdaptPriceSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="AdaptPrice">
      <wsdl:input message="tns:AdaptPriceSoapIn"/>
      <wsdl:output message="tns:AdaptPriceSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="AdaptPriceServiceSoapBinding" type="tns:AdaptPriceSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AdaptPrice">
      <soap:operation soapAction="AdaptPrice" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdaptPriceServiceSoap12Binding" type="tns:AdaptPriceSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AdaptPrice">
      <soap12:operation soapAction="AdaptPrice" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="AdaptPriceService">
    <wsdl:port name="AdaptPriceServiceSoapPort" binding="tns:AdaptPriceServiceSoapBinding">
      <soap:address location="http://localhost:8000/PriceAdapterService/AdaptPrice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>